* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
}

#display {
    width: 75%;
    padding: 36px;
}

.button, .clear, .work {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A1D099;
    width: 25%;
    padding: 25px;
    color: white;
    background-color: #61B34F;
    font-size: 20px;
}

.clear {
    padding: 26px;
}



.function {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A1D099;
    width: 25%;
    padding: 25px;
    color: black;
    background-color: #83C178;
    font-size: 20px;
}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #A1D099;
    width: 25%;
     color: white; 
    background-color: #61B34F;
    font-size: 19px;
    max-height: 23px;
}
.work {
    background-color: #61B34F;
}
.work:hover {
    background-color: #A1D099;
}
#delete:hover {
    background-color: #A1D099;
}